QDialog {
    background-image: url(:/images/background.png);
}

QLabel {
    font: 9pt;
    color: rgb(0, 0, 127);
}

QComboBox:editable,
QLineEdit {
    color: rgb(127, 0, 63);
    background-color: rgb(255, 255, 241);
    selection-color: white;
    selection-background-color: rgb(191, 31, 127);
    border: 2px groove gray;
    border-radius: 10px;
    padding: 2px 4px;
}

QComboBox:!editable,
QPushButton {
    color: white;
    font: bold 10pt;
    border-image: url(:/images/button.png) 16;
    border-width: 16px;
    padding: -16px 0px;
    min-height: 32px;
    min-width: 60px;
}

QComboBox:!editable:hover,
QComboBox::drop-down:editable:hover,
QPushButton:hover {
    border-image: url(:/images/button-hover.png) 16;
}

QComboBox:!editable:on,
QPushButton:pressed {
    color: lightgray;
    border-image: url(:/images/button-pressed.png) 16;
    padding-top: -15px;
    padding-bottom: -17px;
}

QComboBox::down-arrow {
    image: url(:/images/down-arrow.png);
}

QComboBox::down-arrow:on {
    top: 1px;
}

QComboBox * {
    font: 9pt;
}

QComboBox::drop-down:!editable {
    subcontrol-origin: padding;
    subcontrol-position: center right;
    width: 11px;
    height: 6px;
    background: none;
}

QComboBox:!editable {
    padding-right: 15px;
}

QComboBox::drop-down:editable {
    border-image: url(:/images/button.png) 16;
    border-width: 10px;
    subcontrol-origin: margin;
    subcontrol-position: center right;
    width: 7px;
    height: 6px;
}

QComboBox::drop-down:editable:open {
    border-image: url(:/images/button-pressed.png) 16;
}

QComboBox:editable {
    margin-right: 29px;
}

QSpinBox,
QDoubleSpinBox {
    color: rgb(127, 0, 63);
    background-color: rgb(255, 255, 241);
    selection-color: white;
    selection-background-color: rgb(191, 31, 127);
    border: 2px groove gray;
    border-radius: 10px;
    padding: 2px 4px;
}

QHeaderView::section {
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #616161, stop: 0.5 #505050, stop: 0.6 #434343, stop:1 #656565);
    color: white;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

QTableView  {
    color: rgb(127, 0, 63);
    background-color: rgb(255, 255, 241);
    selection-color: white;
    selection-background-color: rgb(191, 31, 127);
    border: 2px groove gray;
    border-radius: 10px;
    padding: 2px 4px;
}

QSpinBox::up-button,
QDoubleSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */

    width: 15px;
    border-image: url(:/images/up_arrow.png) 1;
    border-width: 1px;
    border-top-width: 1px;
    border-radius: 2px;
}

QSpinBox::up-button:hover,
QDoubleSpinBox::up-button:hover {
    border-image: url(:/images/up_arrow_hover.png) 1;
}

QSpinBox::up-button:pressed,
QDoubleSpinBox::up-button:pressed {
    border-image: url(:/images/up_arrow_pressed.png) 1;
}

QSpinBox::down-button,
QDoubleSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at bottom right corner */

    width: 15px;
    border-image: url(:/images/down_arrow.png) 1;
    border-width: 1px;
    border-top-width: 0;
    border-radius: 2px;
}

QSpinBox::down-button:hover,
QDoubleSpinBox::down-button:hover {
    border-image: url(:/images/down_arrow_hover.png) 1;
}

QSpinBox::down-button:pressed,
QDoubleSpinBox::down-button:pressed {
    border-image: url(:/images/down_arrow_pressed.png) 1;
}

QGroupBox  {
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 1ex; /* leave space at the top for the title */
}

QGroupBox::title  {
    subcontrol-origin: margin;
    subcontrol-position: top center; /* position at the top center */
    padding: 0 3px;
}




